#Telosys-Tools properties
#Thu Mar 16 18:39:43 CDT 2017
ProjectVariable.PROJECT_NAME=storytime-service
DOC=doc
RES=src/main/resources
ProjectVariable.MAVEN_GROUP_ID=group.to.be.defined
ROOT_PKG=net.kumasi.storytime
TemplatesFolder=TelosysTools/templates
WEB=src/main/webapp
DownloadsFolder=TelosysTools/downloads
ProjectVariable.MYVAR=foo
RepositoriesFolder=TelosysTools
SRC=src/main/java
ENTITY_PKG=net.kumasi.storytime.model
ProjectVariable.MAVEN_ARTIFACT_ID=storytime-service
TEST_RES=src/test/resources
ProjectVariable.PROJECT_VERSION=0.1
LibrariesFolder=TelosysTools/lib
ProjectVariable.DBID=1
TEST_SRC=src/test/java
ProjectVariable.V2=22
TMP=tmp
